<table class = "table">
    <thead>
        <tr>
            <th>Renk</th>
        </tr>
    </thead>
    <div *ngIf="dataLoaded==false" class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden" >Loading...</span>
    </div>
    <div class="input-group mb-3">
        <input type="text" [(ngModel)]="colorFilterText" class="form-control" placeholder="Renk Ara" aria-label="Username">
    </div>
    <tr class = "tr" >
        <td class = "td">
            <li 
                (click)="setCurrentColor(color)"
                routerLink = "cars/color/{{color.id}}"
                *ngFor= "let color of colors |colorFilter:colorFilterText"
                [class]= "getCurrentColorClass(color)">
                {{color.colorName}}
            </li>
        </td>
    </tr>
</table>
<h5 *ngIf = "currentColor">{{currentColor.colorName}} seçtiniz</h5>