<table class = "table">
    <thead>
        <tr>
            <th>Markalar</th>
        </tr>
    </thead>
    <div *ngIf="dataLoaded==false" class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden" >Loading...</span>
    </div>
    <div class="mb-3">
        <input type="text"  [(ngModel)]="brandFilterText"
        class="form-control" placeholder="Marka Ara">
        
    </div>
    <tr class = "tr" >
        <td class = "td">
            <li routerLink = "/" 
                (click)="setCurrentBrand(brand)"
                [class]="getAllBrandClass()">
                Tüm Markalar</li>
            <li 
                (click)="setCurrentBrand(brand)" 
                routerLink = "cars/brand/{{brand.id}}"
                *ngFor= "let brand of brands |brandFilter:brandFilterText | orderBy:'brandName'"
                [class]="getCurrentBrandClass(brand)">
                {{brand.brandName}}
            </li>
        </td>
    </tr>
</table>



