<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="http://motorental.abdulsametozdemir.com/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="https://github.com/sametteam06" target = "blank" class="nav-link px-2 text-muted">Github</a></li>
        <li class="nav-item"><a href="https://github.com/sametteam06/RentACarProject" target = "blank" class="nav-link px-2 text-muted">Back End kodları</a></li>
        <li class="nav-item"><a href="https://github.com/sametteam06/RentACarFrontEnd" target = "blank" class="nav-link px-2 text-muted">Front End Kodları</a></li>
        <li class="nav-item"><a href="http://www.abdulsametozdemir.com" target = "blank" class="nav-link px-2 text-muted">Hakkımda</a></li>
      </ul>
      <p class="text-center text-muted">Bu bir örnek proje sitesidir. </p>
    </footer>
  </div>