<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img [src]="defaultImageUrl" alt="" width="40" height="32" class="d-inline-block align-text-top">
            MotoRentaL
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Ana Sayfa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Markalar
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <app-brand></app-brand>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Motor Hacmi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <app-displacement></app-displacement>
            </ul>
          </li>
        </ul>
        <button type="button" class="btn btn-primary" routerLink = "/admin">Admin</button>

       
        <div *ngIf= "!userLoginCheck" class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2" routerLink = "/login" >Giriş Yap</button>
          <button type="button" class="btn btn-primary" routerLink = "/register">Üye Ol</button>
        </div>
        <div *ngIf= "userLoginCheck" class="dropdown text-end">
          <a class="nav-link active" aria-current="page" href="">{{user?.firstName}}</a>
        </div>
        <div *ngIf= "userLoginCheck" class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img [src]="userImage"  width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" (click) = "route(user.id)">Kullanıcı Profili</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logOut()">Oturumu Kapat</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>