<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start" routerLink = "/admin/authentications">
      <div class="ms-2 me-auto" >
        <div class="fw-bold">Kullanıcı İşlemleri</div>
        Kullanıcı yetkilerini ekleme ve silme işlemlerini buradan yapabilirsiniz.
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" routerLink = "/admin/cars">
      <div class="ms-2 me-auto" >
        <div class="fw-bold">Araç İşlemleri</div>
        Araç ekleme, silme ve güncelleme işlemlerini buradan yapabilirsiniz.
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" routerLink = "/admin/brands">
      <div class="ms-2 me-auto" >
        <div class="fw-bold">Marka İşlemleri</div>
        Marka ekleme, silme ve güncelleme işlemlerini buradan yapabilirsiniz.
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" routerLink = "/admin/displacements">
        <div class="ms-2 me-auto" >
          <div class="fw-bold">Motor Hacmi İşlemleri</div>
          Motor hacmi ekleme, silme ve güncelleme işlemlerini buradan yapabilirsiniz.
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start" routerLink = "/admin/rentals">
        <div class="ms-2 me-auto" >
          <div class="fw-bold">Kiralama Listesi</div>
          Kiralama listesine buradan ulaşabilirsiniz.
        </div>
      </li>
  </ol>