<div *ngIf="dataLoaded==false" class="spinner-grow text-secondary" role="status">
  <span class="visually-hidden" >Loading...</span>
</div>

<div class="row">
  <div class="col-md-12">
    <div  class="imageBoxBig">
      <img [src]="defaultImage" class="card-img-top card-img" style="border-radius:inherit"/>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let src of carImages; let i = index" class = "col-md-2" (click)="setDefaultImage(i)">
    <div class="imageBoxSmall"><img [src]="getPath()+src.imagePath" class="card-img-top card-img" style="width: 100%; border-radius:inherit"/></div>
  </div>
</div>