<div class = "content">
    <div class = "col-md-12">
        <div class = "card">
            <div class = "card-header"><h5 class = "title">Şifre Değiştir</h5></div>
            <div class = "card-body">
                <form [formGroup] = "pwUpdateForm">
                    <div class = "mb-3">
                        <label for = "password">Şifre</label>
                        <div class = "form-group">
                            <input type = "text"
                            id = "password"
                            formControlName = "password"
                            class = "form-control"
                            placeholder = "Şifre Giriniz"/>
                        </div>
                        <label for = "passwordCheck">Şifre Tekrarı</label>
                        <div class = "form-group">
                            <input type = "text"
                            id = "passwordCheck"
                            formControlName = "passwordCheck"
                            class = "form-control"
                            placeholder = "Tekrar Şifre Giriniz"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class = "card-footer">
                <button class = "btn btn-fill btn-primary" (click) = "updatePw()" routerLink = "/user/{{currentUser?.id}}"  >Güncelle</button>
            </div>
        </div>
    </div>
</div>