<table class = "table">
    <thead>
        <tr>
            <th>Araba Id</th>
            <th>Müşteri Id</th>
            <th>Kiralama Tarihi</th>
            <th>Teslim Tarihi</th>
        </tr>
        
    </thead>
    <div *ngIf="dataLoaded==false" class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden" >Loading...</span>
    </div>
    <tr class = "tr" *ngFor= "let rental of rentals">
        <td class = "td"><li class="list-group-item">{{rental.carId}}</li></td>
        <td class = "td"><li class="list-group-item">{{rental.userId}}</li></td>
        <td class = "td"><li class="list-group-item">{{rental.rentDate}}</li></td>
        <td class = "td"><li class="list-group-item">{{rental.returnDate}}</li></td>
    </tr>
</table>