
<table class = "table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka Id</th>
            <th>Displacement Id</th>
            <th>Model Yılı</th>
            <th>Açıklama</th>
            <th>Günlük Ücret</th>
        </tr>
    </thead>
    <tbody 
    routerLink = "/cars/detail/{{car.id}}" 
    routerLinkActive="active"
    *ngFor= "let car of cars | orderBy:'dailyPrice'">
        <td class = "td"><li [class] = "getCurrentCarClass(car)">{{car.id}}</li></td>
        <td class = "td"><li [class] = "getCurrentCarClass(car)">{{car.brandId}}</li></td>
        <td class = "td"><li [class] = "getCurrentCarClass(car)">{{car.displacementId}}</li></td>
        <td class = "td"><li [class] = "getCurrentCarClass(car)">{{car.modelYear}}</li></td>
        <td class = "td"><li [class] = "getCurrentCarClass(car)">{{car.description}}</li></td>
        <td class = "td"><li [class] = "getCurrentCarClass(car)">{{car.dailyPrice}}</li></td>
    </tbody>
</table>